<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Generate BatchCodes</h1>

    <form action="/batchcode" method="POST">
        <b>Center</b>
        <select>
            {{#each centers as |c|}}
                <option value="{{c.id}}">{{c.name}}</option>
            {{/each}}
        </select>

        <br>

        <b>Season</b>
        <select>
            {{#each seasons as |s|}}
                <option value="{{s.id}}">{{s.name}}</option>
            {{/each}}
        </select>

        <br>

        <b>Course</b>
        <select>
            {{#each courses as |co|}}
                <option value="{{co.id}}">{{co.name}}</option>
            {{/each}}
        </select>

        <br>

        <b>Year</b>
        <select>
            {{#each years as |y|}}
                <option value="{{y}}">{{y}}</option>
            {{/each}}
        </select>

        <br>

        <b>Batch</b>
        <input type="number" min="1" max="5"></input>

    </form>

</body>
</html>